<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>IT- opdracht 8 </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet prefetch' href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<div  class="pure-g">
  <div id="twee"class="pure-u-1">
            <h1>PORTFOLIO</h1>
    <h2> Lynn Moyson </h2>
      </div>
  <div class="pure-u-2-3"> <p>
Ik ben studente Grafische en Digitale Media aan de Artesis-Plantijn hogeschool. <br> Met als afstudeerrichting Crossmedia. Daarnaast ben ik een echte levensgenieter en ik hou van reizen en ervaringen opdoen. Op deze pagina zie je een paar voorbeelden van wat we nu al gemaakt hebben en een paar sfeerbeelden van mijn vakantie.  </p> </div> <div class="nav"class="pure-u-1-3">
  <div id=”nav”>

<ul>
<li><a href="#">About</a></li>
<li><a href=”#”>Websites</a></li>
<li><a href=”#”>Adobe</a></li>
<li><a href=”#”>Vakantie</a></li>
</ul>

</div></div>
  <div class="twee">
    <div class="pure-u-1-3"><img src="https://s-media-cache-ak0.pinimg.com/564x/32/cc/65/32cc653a9d72e613dcde76d380f7f6d4.jpg"></div>
    <div class="pure-u-1-3"><img src="https://s-media-cache-ak0.pinimg.com/564x/35/43/22/3543223e79cb1cf0627a3fb3dda61a4b.jpg"></div>
    <div class="pure-u-1-3"><img src="https://s-media-cache-ak0.pinimg.com/originals/c9/d0/17/c9d017ae79794b6aed6ae6e5862ba75b.png"></div>
</div>
 <div class="twee">
    <div class="pure-u-1-3"><img src="https://s-media-cache-ak0.pinimg.com/originals/28/7d/7e/287d7e33218871a3943bc6d6fdaafba0.jpg"></div>
    <div class="pure-u-1-3"><img src="https://s-media-cache-ak0.pinimg.com/originals/ac/b8/dc/acb8dc7210b87e3c87082c5244606723.jpg" /></div>
    <div class="pure-u-1-3"><img src="https://s-media-cache-ak0.pinimg.com/originals/49/58/e8/4958e80bdaecb5b644bad0731046db96.jpg" /></div>
</div>


</body>
</html>
